:root {
  --bg-color: #0e141d;
  --primary-color: #da6161;
  --secondary-color: #A60F1C;
  --accent-color: #e25ae4;
}

body {
  margin: 0;
  overflow: hidden;
}

.background {
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}

.background span {
  width: 30vmin;
  height: 30vmin;
  border-radius: 30vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 120s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: var(--primary-color);
  top: 35%;
  left: 88%;
  animation-duration: 113.8s;
  animation-delay: -15.6s;
  transform-origin: 19vw -20vh;
  box-shadow: 60vmin 0 15.3200277994vmin currentColor;
}
.background span:nth-child(2) {
  color: var(--primary-color);
  top: 26%;
  left: 36%;
  animation-duration: 86.2s;
  animation-delay: -19s;
  transform-origin: -14vw 0vh;
  box-shadow: -60vmin 0 13.9966716705vmin currentColor;
}
.background span:nth-child(3) {
  color: var(--secondary-color);
  top: 16%;
  left: 80%;
  animation-duration: 99.3s;
  animation-delay: -98.2s;
  transform-origin: -2vw 3vh;
  box-shadow: 60vmin 0 13.622590166vmin currentColor;
}
.background span:nth-child(4) {
  color: var(--primary-color);
  top: 21%;
  left: 34%;
  animation-duration: 79.9s;
  animation-delay: -63.4s;
  transform-origin: 8vw 15vh;
  box-shadow: 60vmin 0 11.3018061997vmin currentColor;
}
.background span:nth-child(5) {
  color: var(--primary-color);
  top: 81%;
  left: 1%;
  animation-duration: 47s;
  animation-delay: -5.8s;
  transform-origin: -9vw 22vh;
  box-shadow: -60vmin 0 11.6546432265vmin currentColor;
}
.background span:nth-child(6) {
  color: var(--primary-color);
  top: 99%;
  left: 44%;
  animation-duration: 92.7s;
  animation-delay: -110.4s;
  transform-origin: -7vw 21vh;
  box-shadow: 60vmin 0 15.896360622vmin currentColor;
}
.background span:nth-child(7) {
  color: var(--secondary-color);
  top: 75%;
  left: 26%;
  animation-duration: 29.1s;
  animation-delay: -96.5s;
  transform-origin: -15vw 24vh;
  box-shadow: -60vmin 0 15.8070021783vmin currentColor;
}
.background span:nth-child(8) {
  color: var(--accent-color);
  top: 17%;
  left: 81%;
  animation-duration: 23.1s;
  animation-delay: -116.6s;
  transform-origin: -21vw 18vh;
  box-shadow: 60vmin 0 16.5354704604vmin currentColor;
}
.background span:nth-child(9) {
  color: var(--secondary-color);
  top: 83%;
  left: 99%;
  animation-duration: 73.1s;
  animation-delay: -107.4s;
  transform-origin: 13vw -13vh;
  box-shadow: 60vmin 0 13.7291155786vmin currentColor;
}
.background span:nth-child(10) {
  color: var(--secondary-color);
  top: 30%;
  left: 61%;
  animation-duration: 97.5s;
  animation-delay: -53.4s;
  transform-origin: 24vw 20vh;
  box-shadow: 60vmin 0 21.2719845592vmin currentColor;
}
.background span:nth-child(11) {
  color: var(--secondary-color);
  top: 94%;
  left: 13%;
  animation-duration: 103.6s;
  animation-delay: -106.6s;
  transform-origin: 4vw -2vh;
  box-shadow: 60vmin 0 13.4766474748vmin currentColor;
}
.background span:nth-child(12) {
  color: var(--accent-color);
  top: 44%;
  left: 41%;
  animation-duration: 74.2s;
  animation-delay: -11s;
  transform-origin: -2vw -21vh;
  box-shadow: 60vmin 0 11.1578077659vmin currentColor;
}
.background span:nth-child(13) {
  color: var(--secondary-color);
  top: 9%;
  left: 56%;
  animation-duration: 23.1s;
  animation-delay: -108.1s;
  transform-origin: 18vw 17vh;
  box-shadow: 60vmin 0 14.8093386665vmin currentColor;
}
.background span:nth-child(14) {
  color: var(--secondary-color);
  top: 12%;
  left: 7%;
  animation-duration: 34.2s;
  animation-delay: -35.2s;
  transform-origin: -20vw 22vh;
  box-shadow: -60vmin 0 13.5353593923vmin currentColor;
}
.background span:nth-child(15) {
  color: var(--secondary-color);
  top: 32%;
  left: 88%;
  animation-duration: 20.7s;
  animation-delay: -36.2s;
  transform-origin: -15vw -14vh;
  box-shadow: -60vmin 0 12.7153969456vmin currentColor;
}
.background span:nth-child(16) {
  color: var(--primary-color);
  top: 60%;
  left: 80%;
  animation-duration: 39s;
  animation-delay: -54.7s;
  transform-origin: 23vw -14vh;
  box-shadow: 60vmin 0 17.7097149095vmin currentColor;
}
.background span:nth-child(17) {
  color: var(--accent-color);
  top: 67%;
  left: 9%;
  animation-duration: 23.6s;
  animation-delay: -102.2s;
  transform-origin: 10vw 17vh;
  box-shadow: 60vmin 0 21.028085273vmin currentColor;
}
.background span:nth-child(18) {
  color: var(--primary-color);
  top: 48%;
  left: 43%;
  animation-duration: 67.1s;
  animation-delay: -20.7s;
  transform-origin: 12vw -5vh;
  box-shadow: -60vmin 0 9.3656977048vmin currentColor;
}
.background span:nth-child(19) {
  color: var(--primary-color);
  top: 95%;
  left: 83%;
  animation-duration: 71.7s;
  animation-delay: -103.4s;
  transform-origin: 13vw 4vh;
  box-shadow: 60vmin 0 7.653982353vmin currentColor;
}
.background span:nth-child(20) {
  color: var(--accent-color);
  top: 80%;
  left: 85%;
  animation-duration: 125.8s;
  animation-delay: -114s;
  transform-origin: 21vw -21vh;
  box-shadow: -60vmin 0 17.4091928893vmin currentColor;
}
.background span:nth-child(21) {
  color: var(--primary-color);
  top: 3%;
  left: 69%;
  animation-duration: 83.9s;
  animation-delay: -54.7s;
  transform-origin: -11vw 3vh;
  box-shadow: 60vmin 0 16.5113180663vmin currentColor;
}
.background span:nth-child(22) {
  color: var(--accent-color);
  top: 18%;
  left: 18%;
  animation-duration: 84.6s;
  animation-delay: -65.2s;
  transform-origin: 16vw -24vh;
  box-shadow: 60vmin 0 15.6426221435vmin currentColor;
}
.background span:nth-child(23) {
  color: var(--accent-color);
  top: 77%;
  left: 62%;
  animation-duration: 126.7s;
  animation-delay: -55.7s;
  transform-origin: 21vw -13vh;
  box-shadow: 60vmin 0 20.82467119vmin currentColor;
}
.background span:nth-child(24) {
  color: var(--accent-color);
  top: 47%;
  left: 95%;
  animation-duration: 123s;
  animation-delay: -10.5s;
  transform-origin: -2vw -11vh;
  box-shadow: 60vmin 0 14.6345281209vmin currentColor;
}
.background span:nth-child(25) {
  color: var(--secondary-color);
  top: 46%;
  left: 68%;
  animation-duration: 102s;
  animation-delay: -18.7s;
  transform-origin: 14vw -16vh;
  box-shadow: 60vmin 0 21.6547878606vmin currentColor;
}
.background span:nth-child(26) {
  color: var(--primary-color);
  top: 34%;
  left: 47%;
  animation-duration: 45.6s;
  animation-delay: -87.5s;
  transform-origin: -10vw -19vh;
  box-shadow: 60vmin 0 7.7537393296vmin currentColor;
}
.background span:nth-child(27) {
  color: var(--secondary-color);
  top: 80%;
  left: 23%;
  animation-duration: 103.2s;
  animation-delay: -18.7s;
  transform-origin: 9vw -1vh;
  box-shadow: 60vmin 0 19.7272879713vmin currentColor;
}
.background span:nth-child(28) {
  color: var(--accent-color);
  top: 60%;
  left: 59%;
  animation-duration: 27.8s;
  animation-delay: -124.1s;
  transform-origin: -21vw 21vh;
  box-shadow: -60vmin 0 17.4783688591vmin currentColor;
}
.background span:nth-child(29) {
  color: var(--accent-color);
  top: 14%;
  left: 71%;
  animation-duration: 61.7s;
  animation-delay: -20.9s;
  transform-origin: -18vw -12vh;
  box-shadow: 60vmin 0 11.3097280731vmin currentColor;
}
.background span:nth-child(30) {
  color: var(--accent-color);
  top: 66%;
  left: 34%;
  animation-duration: 76s;
  animation-delay: -88.2s;
  transform-origin: -16vw 12vh;
  box-shadow: 60vmin 0 8.9463362823vmin currentColor;
}
.background span:nth-child(31) {
  color: var(--secondary-color);
  top: 94%;
  left: 41%;
  animation-duration: 49.2s;
  animation-delay: -118.7s;
  transform-origin: -16vw -10vh;
  box-shadow: -60vmin 0 20.9073427372vmin currentColor;
}
.background span:nth-child(32) {
  color: var(--secondary-color);
  top: 70%;
  left: 21%;
  animation-duration: 49.9s;
  animation-delay: -51.2s;
  transform-origin: 19vw -12vh;
  box-shadow: -60vmin 0 8.1310749032vmin currentColor;
}
.background span:nth-child(33) {
  color: var(--accent-color);
  top: 89%;
  left: 58%;
  animation-duration: 62.3s;
  animation-delay: -110.9s;
  transform-origin: 24vw 0vh;
  box-shadow: 60vmin 0 20.9764702459vmin currentColor;
}
.background span:nth-child(34) {
  color: var(--primary-color);
  top: 73%;
  left: 2%;
  animation-duration: 88.6s;
  animation-delay: -121s;
  transform-origin: 2vw 8vh;
  box-shadow: -60vmin 0 19.3923137627vmin currentColor;
}
.background span:nth-child(35) {
  color: var(--primary-color);
  top: 4%;
  left: 38%;
  animation-duration: 124.4s;
  animation-delay: -30.9s;
  transform-origin: -10vw -13vh;
  box-shadow: 60vmin 0 16.1101464327vmin currentColor;
}
.background span:nth-child(36) {
  color: var(--accent-color);
  top: 12%;
  left: 7%;
  animation-duration: 38.3s;
  animation-delay: -50.9s;
  transform-origin: 17vw -10vh;
  box-shadow: -60vmin 0 16.2133974399vmin currentColor;
}
.background span:nth-child(37) {
  color: var(--primary-color);
  top: 77%;
  left: 69%;
  animation-duration: 108.1s;
  animation-delay: -113.4s;
  transform-origin: -21vw 23vh;
  box-shadow: 60vmin 0 9.1412774682vmin currentColor;
}
.background span:nth-child(38) {
  color: var(--secondary-color);
  top: 15%;
  left: 83%;
  animation-duration: 57.8s;
  animation-delay: -73.7s;
  transform-origin: 8vw 17vh;
  box-shadow: 60vmin 0 10.2099633905vmin currentColor;
}
.background span:nth-child(39) {
  color: var(--secondary-color);
  top: 91%;
  left: 88%;
  animation-duration: 40.9s;
  animation-delay: -13.7s;
  transform-origin: -21vw 5vh;
  box-shadow: -60vmin 0 18.6490259592vmin currentColor;
}
.background span:nth-child(40) {
  color: var(--secondary-color);
  top: 67%;
  left: 33%;
  animation-duration: 124.4s;
  animation-delay: -6s;
  transform-origin: 0vw -12vh;
  box-shadow: -60vmin 0 10.8081758283vmin currentColor;
}
.background span:nth-child(41) {
  color: var(--accent-color);
  top: 97%;
  left: 43%;
  animation-duration: 92.1s;
  animation-delay: -129s;
  transform-origin: -4vw 2vh;
  box-shadow: 60vmin 0 21.3076848601vmin currentColor;
}
.background span:nth-child(42) {
  color: var(--accent-color);
  top: 43%;
  left: 67%;
  animation-duration: 80.2s;
  animation-delay: -24.3s;
  transform-origin: 6vw -17vh;
  box-shadow: 60vmin 0 17.8300292083vmin currentColor;
}
.background span:nth-child(43) {
  color: var(--accent-color);
  top: 58%;
  left: 34%;
  animation-duration: 96.8s;
  animation-delay: -120.5s;
  transform-origin: -17vw 15vh;
  box-shadow: 60vmin 0 22.3945070847vmin currentColor;
}
.background span:nth-child(44) {
  color: var(--primary-color);
  top: 70%;
  left: 4%;
  animation-duration: 14.7s;
  animation-delay: -115.1s;
  transform-origin: 14vw -4vh;
  box-shadow: 60vmin 0 12.312596407vmin currentColor;
}
.background span:nth-child(45) {
  color: var(--accent-color);
  top: 70%;
  left: 85%;
  animation-duration: 68.1s;
  animation-delay: -36.3s;
  transform-origin: -3vw -6vh;
  box-shadow: 60vmin 0 11.9248285529vmin currentColor;
}
.background span:nth-child(46) {
  color: var(--accent-color);
  top: 23%;
  left: 52%;
  animation-duration: 85.5s;
  animation-delay: -10.8s;
  transform-origin: 16vw -11vh;
  box-shadow: -60vmin 0 15.4790980113vmin currentColor;
}
.background span:nth-child(47) {
  color: var(--secondary-color);
  top: 10%;
  left: 59%;
  animation-duration: 84.8s;
  animation-delay: -50.5s;
  transform-origin: -17vw 22vh;
  box-shadow: -60vmin 0 17.7877081503vmin currentColor;
}
.background span:nth-child(48) {
  color: var(--accent-color);
  top: 9%;
  left: 40%;
  animation-duration: 53.9s;
  animation-delay: -82.9s;
  transform-origin: 10vw -5vh;
  box-shadow: 60vmin 0 11.7412905689vmin currentColor;
}
.background span:nth-child(49) {
  color: var(--primary-color);
  top: 97%;
  left: 59%;
  animation-duration: 74.5s;
  animation-delay: -77.4s;
  transform-origin: -24vw 19vh;
  box-shadow: -60vmin 0 18.5548270855vmin currentColor;
}
.background span:nth-child(50) {
  color: var(--accent-color);
  top: 4%;
  left: 79%;
  animation-duration: 59.2s;
  animation-delay: -73.2s;
  transform-origin: 11vw 7vh;
  box-shadow: 60vmin 0 13.3320637802vmin currentColor;
}
.background span:nth-child(51) {
  color: var(--secondary-color);
  top: 73%;
  left: 5%;
  animation-duration: 44.7s;
  animation-delay: -12.3s;
  transform-origin: -24vw 25vh;
  box-shadow: -60vmin 0 17.8866636337vmin currentColor;
}
.background span:nth-child(52) {
  color: var(--accent-color);
  top: 28%;
  left: 19%;
  animation-duration: 43.3s;
  animation-delay: -79.5s;
  transform-origin: 3vw 8vh;
  box-shadow: 60vmin 0 18.5973064546vmin currentColor;
}
.background span:nth-child(53) {
  color: var(--accent-color);
  top: 84%;
  left: 28%;
  animation-duration: 30.1s;
  animation-delay: -47.7s;
  transform-origin: 16vw 9vh;
  box-shadow: -60vmin 0 14.7029687836vmin currentColor;
}
.background span:nth-child(54) {
  color: var(--secondary-color);
  top: 32%;
  left: 41%;
  animation-duration: 84.5s;
  animation-delay: -70.1s;
  transform-origin: -4vw 10vh;
  box-shadow: 60vmin 0 21.6897227976vmin currentColor;
}
.background span:nth-child(55) {
  color: var(--primary-color);
  top: 75%;
  left: 25%;
  animation-duration: 129.9s;
  animation-delay: -92.9s;
  transform-origin: -22vw -22vh;
  box-shadow: -60vmin 0 9.533747667vmin currentColor;
}
.background span:nth-child(56) {
  color: var(--accent-color);
  top: 77%;
  left: 1%;
  animation-duration: 108.3s;
  animation-delay: -96.9s;
  transform-origin: -16vw 23vh;
  box-shadow: 60vmin 0 20.0076342325vmin currentColor;
}
.background span:nth-child(57) {
  color: var(--primary-color);
  top: 67%;
  left: 62%;
  animation-duration: 43.7s;
  animation-delay: -13.2s;
  transform-origin: 19vw 12vh;
  box-shadow: 60vmin 0 14.8865963941vmin currentColor;
}
.background span:nth-child(58) {
  color: var(--accent-color);
  top: 15%;
  left: 35%;
  animation-duration: 32.3s;
  animation-delay: -81.6s;
  transform-origin: -1vw -2vh;
  box-shadow: -60vmin 0 11.0117665972vmin currentColor;
}
.background span:nth-child(59) {
  color: var(--accent-color);
  top: 45%;
  left: 99%;
  animation-duration: 102.8s;
  animation-delay: -21.8s;
  transform-origin: -2vw -17vh;
  box-shadow: 60vmin 0 16.5034779265vmin currentColor;
}
.background span:nth-child(60) {
  color: var(--accent-color);
  top: 34%;
  left: 97%;
  animation-duration: 115.9s;
  animation-delay: -34.5s;
  transform-origin: -4vw 6vh;
  box-shadow: 60vmin 0 16.2637968165vmin currentColor;
}
.background span:nth-child(61) {
  color: var(--secondary-color);
  top: 14%;
  left: 5%;
  animation-duration: 75.8s;
  animation-delay: -106.2s;
  transform-origin: -11vw -21vh;
  box-shadow: -60vmin 0 17.2715645081vmin currentColor;
}
.background span:nth-child(62) {
  color: var(--accent-color);
  top: 35%;
  left: 93%;
  animation-duration: 103.3s;
  animation-delay: -0.2s;
  transform-origin: -9vw -14vh;
  box-shadow: 60vmin 0 16.250486858vmin currentColor;
}
.background span:nth-child(63) {
  color: var(--secondary-color);
  top: 99%;
  left: 1%;
  animation-duration: 62.7s;
  animation-delay: -113.5s;
  transform-origin: -21vw 0vh;
  box-shadow: 60vmin 0 15.1138095858vmin currentColor;
}
.background span:nth-child(64) {
  color: var(--accent-color);
  top: 95%;
  left: 81%;
  animation-duration: 76.1s;
  animation-delay: -20.3s;
  transform-origin: 9vw 21vh;
  box-shadow: 60vmin 0 15.3597749898vmin currentColor;
}
.background span:nth-child(65) {
  color: var(--accent-color);
  top: 33%;
  left: 69%;
  animation-duration: 29.7s;
  animation-delay: -104.6s;
  transform-origin: 20vw -18vh;
  box-shadow: -60vmin 0 18.4091097552vmin currentColor;
}
.background span:nth-child(66) {
  color: var(--primary-color);
  top: 49%;
  left: 100%;
  animation-duration: 91s;
  animation-delay: -118.6s;
  transform-origin: -2vw -8vh;
  box-shadow: -60vmin 0 13.3831433954vmin currentColor;
}
.background span:nth-child(67) {
  color: var(--secondary-color);
  top: 14%;
  left: 32%;
  animation-duration: 87.4s;
  animation-delay: -2.2s;
  transform-origin: -1vw -17vh;
  box-shadow: -60vmin 0 13.6037961747vmin currentColor;
}
.background span:nth-child(68) {
  color: var(--primary-color);
  top: 89%;
  left: 15%;
  animation-duration: 52.9s;
  animation-delay: -35.2s;
  transform-origin: -4vw 10vh;
  box-shadow: 60vmin 0 8.7254813856vmin currentColor;
}
.background span:nth-child(69) {
  color: var(--accent-color);
  top: 32%;
  left: 57%;
  animation-duration: 46.8s;
  animation-delay: -26.2s;
  transform-origin: 23vw 19vh;
  box-shadow: -60vmin 0 17.9106002525vmin currentColor;
}
.background span:nth-child(70) {
  color: var(--secondary-color);
  top: 18%;
  left: 12%;
  animation-duration: 104s;
  animation-delay: -35.6s;
  transform-origin: -9vw 9vh;
  box-shadow: 60vmin 0 8.5509645075vmin currentColor;
}
.background span:nth-child(71) {
  color: var(--primary-color);
  top: 22%;
  left: 22%;
  animation-duration: 10.6s;
  animation-delay: -86.3s;
  transform-origin: -13vw -7vh;
  box-shadow: -60vmin 0 19.6834725206vmin currentColor;
}
.background span:nth-child(72) {
  color: var(--secondary-color);
  top: 77%;
  left: 46%;
  animation-duration: 109.7s;
  animation-delay: -24.9s;
  transform-origin: 15vw -17vh;
  box-shadow: 60vmin 0 17.9975730393vmin currentColor;
}
.background span:nth-child(73) {
  color: var(--secondary-color);
  top: 31%;
  left: 23%;
  animation-duration: 78.2s;
  animation-delay: -76s;
  transform-origin: -4vw 19vh;
  box-shadow: 60vmin 0 22.0469936687vmin currentColor;
}
.background span:nth-child(74) {
  color: var(--accent-color);
  top: 84%;
  left: 84%;
  animation-duration: 57.3s;
  animation-delay: -116s;
  transform-origin: 13vw 2vh;
  box-shadow: 60vmin 0 10.234947343vmin currentColor;
}
.background span:nth-child(75) {
  color: var(--secondary-color);
  top: 75%;
  left: 79%;
  animation-duration: 28.3s;
  animation-delay: -37.4s;
  transform-origin: 1vw -1vh;
  box-shadow: 60vmin 0 12.1681499983vmin currentColor;
}
.background span:nth-child(76) {
  color: var(--secondary-color);
  top: 56%;
  left: 29%;
  animation-duration: 66.8s;
  animation-delay: -99s;
  transform-origin: -20vw 3vh;
  box-shadow: -60vmin 0 9.6100933531vmin currentColor;
}
.background span:nth-child(77) {
  color: var(--primary-color);
  top: 100%;
  left: 81%;
  animation-duration: 40s;
  animation-delay: -40.1s;
  transform-origin: 19vw 5vh;
  box-shadow: -60vmin 0 13.4741595508vmin currentColor;
}
.background span:nth-child(78) {
  color: var(--accent-color);
  top: 84%;
  left: 92%;
  animation-duration: 23.7s;
  animation-delay: -37.2s;
  transform-origin: 10vw 0vh;
  box-shadow: 60vmin 0 16.3275544876vmin currentColor;
}
.background span:nth-child(79) {
  color: var(--primary-color);
  top: 64%;
  left: 54%;
  animation-duration: 76.9s;
  animation-delay: -110s;
  transform-origin: 10vw -3vh;
  box-shadow: -60vmin 0 18.0588455353vmin currentColor;
}
.background span:nth-child(80) {
  color: var(--secondary-color);
  top: 67%;
  left: 43%;
  animation-duration: 108s;
  animation-delay: -90.3s;
  transform-origin: 17vw 22vh;
  box-shadow: -60vmin 0 13.6027645958vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
#overlay {
  width: 20%;
  height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
}

#logo-container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30%;
  margin: auto;
}
#logo-container::before {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0 0 100px 150px var(--bg-color);
  border-radius: 40px;
}
#logo-container::after {
  content: "";
  position: absolute;
  inset: 0;
  mask-image: url("./mask.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  background-color: var(--bg-color);
  border-radius: 32px;
}

/*# sourceMappingURL=index.css.map */
