:root {
  --bg-color: #0e141d;
  --primary-color: #da6161;
  --secondary-color: #A60F1C;
  --accent-color: #e25ae4;
}

body {
  margin: 0;
  overflow: hidden;
}

.background {
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}

.background span {
  width: 30vmin;
  height: 30vmin;
  border-radius: 30vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 120s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: var(--accent-color);
  top: 71%;
  left: 75%;
  animation-duration: 82.9s;
  animation-delay: -31.3s;
  transform-origin: 0vw 24vh;
  box-shadow: 60vmin 0 7.7984950826vmin currentColor;
}
.background span:nth-child(2) {
  color: var(--secondary-color);
  top: 55%;
  left: 9%;
  animation-duration: 62s;
  animation-delay: -20.9s;
  transform-origin: 2vw 21vh;
  box-shadow: 60vmin 0 19.0241693997vmin currentColor;
}
.background span:nth-child(3) {
  color: var(--accent-color);
  top: 99%;
  left: 3%;
  animation-duration: 97.1s;
  animation-delay: -21.9s;
  transform-origin: 17vw 12vh;
  box-shadow: 60vmin 0 18.2884469538vmin currentColor;
}
.background span:nth-child(4) {
  color: var(--secondary-color);
  top: 47%;
  left: 5%;
  animation-duration: 74.8s;
  animation-delay: -60s;
  transform-origin: -21vw 6vh;
  box-shadow: 60vmin 0 10.5754758283vmin currentColor;
}
.background span:nth-child(5) {
  color: var(--secondary-color);
  top: 30%;
  left: 73%;
  animation-duration: 75.5s;
  animation-delay: -126.7s;
  transform-origin: 21vw 20vh;
  box-shadow: 60vmin 0 9.6765199139vmin currentColor;
}
.background span:nth-child(6) {
  color: var(--primary-color);
  top: 39%;
  left: 27%;
  animation-duration: 83.3s;
  animation-delay: -81.4s;
  transform-origin: -6vw -21vh;
  box-shadow: -60vmin 0 7.9946999677vmin currentColor;
}
.background span:nth-child(7) {
  color: var(--accent-color);
  top: 38%;
  left: 69%;
  animation-duration: 34.5s;
  animation-delay: -99.4s;
  transform-origin: 25vw -5vh;
  box-shadow: 60vmin 0 19.3225717232vmin currentColor;
}
.background span:nth-child(8) {
  color: var(--accent-color);
  top: 67%;
  left: 84%;
  animation-duration: 48.9s;
  animation-delay: -70.4s;
  transform-origin: 2vw 6vh;
  box-shadow: -60vmin 0 10.4825559152vmin currentColor;
}
.background span:nth-child(9) {
  color: var(--accent-color);
  top: 48%;
  left: 27%;
  animation-duration: 72s;
  animation-delay: -14.3s;
  transform-origin: -6vw 4vh;
  box-shadow: -60vmin 0 8.2953820532vmin currentColor;
}
.background span:nth-child(10) {
  color: var(--primary-color);
  top: 76%;
  left: 77%;
  animation-duration: 17.2s;
  animation-delay: -91s;
  transform-origin: -3vw 25vh;
  box-shadow: 60vmin 0 11.361511608vmin currentColor;
}
.background span:nth-child(11) {
  color: var(--primary-color);
  top: 16%;
  left: 52%;
  animation-duration: 99.4s;
  animation-delay: -98.4s;
  transform-origin: -3vw 11vh;
  box-shadow: -60vmin 0 17.7092429448vmin currentColor;
}
.background span:nth-child(12) {
  color: var(--secondary-color);
  top: 3%;
  left: 29%;
  animation-duration: 34.1s;
  animation-delay: -105.1s;
  transform-origin: 16vw -6vh;
  box-shadow: -60vmin 0 16.4217997404vmin currentColor;
}
.background span:nth-child(13) {
  color: var(--primary-color);
  top: 30%;
  left: 53%;
  animation-duration: 50.8s;
  animation-delay: -97.3s;
  transform-origin: -3vw -11vh;
  box-shadow: 60vmin 0 15.7027273651vmin currentColor;
}
.background span:nth-child(14) {
  color: var(--primary-color);
  top: 5%;
  left: 64%;
  animation-duration: 10.6s;
  animation-delay: -15.5s;
  transform-origin: 17vw 15vh;
  box-shadow: -60vmin 0 12.4730878448vmin currentColor;
}
.background span:nth-child(15) {
  color: var(--accent-color);
  top: 21%;
  left: 3%;
  animation-duration: 74.2s;
  animation-delay: -113.1s;
  transform-origin: -13vw -21vh;
  box-shadow: 60vmin 0 11.9550515284vmin currentColor;
}
.background span:nth-child(16) {
  color: var(--secondary-color);
  top: 77%;
  left: 19%;
  animation-duration: 90.1s;
  animation-delay: -2.1s;
  transform-origin: -1vw -15vh;
  box-shadow: 60vmin 0 10.2207155236vmin currentColor;
}
.background span:nth-child(17) {
  color: var(--primary-color);
  top: 73%;
  left: 28%;
  animation-duration: 48.2s;
  animation-delay: -29.6s;
  transform-origin: -24vw -16vh;
  box-shadow: -60vmin 0 17.5864962178vmin currentColor;
}
.background span:nth-child(18) {
  color: var(--secondary-color);
  top: 83%;
  left: 89%;
  animation-duration: 95.9s;
  animation-delay: -89.2s;
  transform-origin: -14vw 12vh;
  box-shadow: -60vmin 0 19.3199555908vmin currentColor;
}
.background span:nth-child(19) {
  color: var(--accent-color);
  top: 22%;
  left: 75%;
  animation-duration: 75.8s;
  animation-delay: -99.9s;
  transform-origin: -24vw 1vh;
  box-shadow: 60vmin 0 18.0440304085vmin currentColor;
}
.background span:nth-child(20) {
  color: var(--accent-color);
  top: 8%;
  left: 80%;
  animation-duration: 84.4s;
  animation-delay: -42.2s;
  transform-origin: -23vw 24vh;
  box-shadow: 60vmin 0 8.3392453077vmin currentColor;
}
.background span:nth-child(21) {
  color: var(--accent-color);
  top: 100%;
  left: 24%;
  animation-duration: 46.9s;
  animation-delay: -37s;
  transform-origin: -1vw -1vh;
  box-shadow: 60vmin 0 12.7047807136vmin currentColor;
}
.background span:nth-child(22) {
  color: var(--accent-color);
  top: 98%;
  left: 26%;
  animation-duration: 92.1s;
  animation-delay: -21s;
  transform-origin: 21vw 20vh;
  box-shadow: 60vmin 0 11.0558334428vmin currentColor;
}
.background span:nth-child(23) {
  color: var(--primary-color);
  top: 29%;
  left: 22%;
  animation-duration: 27s;
  animation-delay: -68.3s;
  transform-origin: 21vw 6vh;
  box-shadow: -60vmin 0 18.0291309538vmin currentColor;
}
.background span:nth-child(24) {
  color: var(--accent-color);
  top: 49%;
  left: 45%;
  animation-duration: 72.8s;
  animation-delay: -94.2s;
  transform-origin: 9vw -3vh;
  box-shadow: -60vmin 0 16.9764382813vmin currentColor;
}
.background span:nth-child(25) {
  color: var(--accent-color);
  top: 39%;
  left: 55%;
  animation-duration: 103.6s;
  animation-delay: -81.7s;
  transform-origin: 24vw -3vh;
  box-shadow: -60vmin 0 19.4641154336vmin currentColor;
}
.background span:nth-child(26) {
  color: var(--accent-color);
  top: 31%;
  left: 31%;
  animation-duration: 25.8s;
  animation-delay: -32.5s;
  transform-origin: 24vw 0vh;
  box-shadow: -60vmin 0 14.9274944548vmin currentColor;
}
.background span:nth-child(27) {
  color: var(--secondary-color);
  top: 92%;
  left: 97%;
  animation-duration: 97.2s;
  animation-delay: -56s;
  transform-origin: -21vw 12vh;
  box-shadow: 60vmin 0 21.705305002vmin currentColor;
}
.background span:nth-child(28) {
  color: var(--primary-color);
  top: 32%;
  left: 53%;
  animation-duration: 98.1s;
  animation-delay: -70.5s;
  transform-origin: -19vw 14vh;
  box-shadow: 60vmin 0 10.3604667191vmin currentColor;
}
.background span:nth-child(29) {
  color: var(--accent-color);
  top: 21%;
  left: 15%;
  animation-duration: 20.4s;
  animation-delay: -96s;
  transform-origin: 17vw -20vh;
  box-shadow: 60vmin 0 12.8389470188vmin currentColor;
}
.background span:nth-child(30) {
  color: var(--accent-color);
  top: 86%;
  left: 86%;
  animation-duration: 115.3s;
  animation-delay: -67.9s;
  transform-origin: 5vw 23vh;
  box-shadow: -60vmin 0 17.0023329664vmin currentColor;
}
.background span:nth-child(31) {
  color: var(--primary-color);
  top: 81%;
  left: 52%;
  animation-duration: 50.2s;
  animation-delay: -98.4s;
  transform-origin: 22vw 25vh;
  box-shadow: 60vmin 0 15.6664710268vmin currentColor;
}
.background span:nth-child(32) {
  color: var(--accent-color);
  top: 88%;
  left: 77%;
  animation-duration: 127.8s;
  animation-delay: -117.8s;
  transform-origin: 23vw 8vh;
  box-shadow: 60vmin 0 15.3015622449vmin currentColor;
}
.background span:nth-child(33) {
  color: var(--accent-color);
  top: 67%;
  left: 50%;
  animation-duration: 72.5s;
  animation-delay: -53s;
  transform-origin: 6vw 21vh;
  box-shadow: -60vmin 0 8.8525350115vmin currentColor;
}
.background span:nth-child(34) {
  color: var(--accent-color);
  top: 97%;
  left: 68%;
  animation-duration: 40.6s;
  animation-delay: -64.1s;
  transform-origin: 20vw -23vh;
  box-shadow: 60vmin 0 12.6768435281vmin currentColor;
}
.background span:nth-child(35) {
  color: var(--primary-color);
  top: 29%;
  left: 74%;
  animation-duration: 93.7s;
  animation-delay: -38.5s;
  transform-origin: 5vw 10vh;
  box-shadow: -60vmin 0 12.2816140932vmin currentColor;
}
.background span:nth-child(36) {
  color: var(--secondary-color);
  top: 70%;
  left: 28%;
  animation-duration: 59.3s;
  animation-delay: -50s;
  transform-origin: -2vw 1vh;
  box-shadow: -60vmin 0 8.6614445992vmin currentColor;
}
.background span:nth-child(37) {
  color: var(--primary-color);
  top: 79%;
  left: 10%;
  animation-duration: 57.5s;
  animation-delay: -56.3s;
  transform-origin: 25vw 18vh;
  box-shadow: -60vmin 0 20.6203865486vmin currentColor;
}
.background span:nth-child(38) {
  color: var(--secondary-color);
  top: 86%;
  left: 10%;
  animation-duration: 70s;
  animation-delay: -112.2s;
  transform-origin: -24vw 13vh;
  box-shadow: -60vmin 0 10.2705619892vmin currentColor;
}
.background span:nth-child(39) {
  color: var(--primary-color);
  top: 99%;
  left: 26%;
  animation-duration: 85.1s;
  animation-delay: -97.2s;
  transform-origin: -24vw -11vh;
  box-shadow: -60vmin 0 10.5655940275vmin currentColor;
}
.background span:nth-child(40) {
  color: var(--primary-color);
  top: 95%;
  left: 20%;
  animation-duration: 45.8s;
  animation-delay: -22.1s;
  transform-origin: -14vw 0vh;
  box-shadow: -60vmin 0 10.1687897285vmin currentColor;
}
.background span:nth-child(41) {
  color: var(--accent-color);
  top: 90%;
  left: 26%;
  animation-duration: 72.6s;
  animation-delay: -24.8s;
  transform-origin: -11vw 24vh;
  box-shadow: -60vmin 0 20.3137196199vmin currentColor;
}
.background span:nth-child(42) {
  color: var(--accent-color);
  top: 77%;
  left: 58%;
  animation-duration: 24.7s;
  animation-delay: -113.3s;
  transform-origin: -4vw 12vh;
  box-shadow: -60vmin 0 8.4053132452vmin currentColor;
}
.background span:nth-child(43) {
  color: var(--accent-color);
  top: 35%;
  left: 16%;
  animation-duration: 39.2s;
  animation-delay: -64.3s;
  transform-origin: -16vw -3vh;
  box-shadow: -60vmin 0 13.1237699386vmin currentColor;
}
.background span:nth-child(44) {
  color: var(--primary-color);
  top: 17%;
  left: 92%;
  animation-duration: 25.1s;
  animation-delay: -24.2s;
  transform-origin: 12vw 7vh;
  box-shadow: 60vmin 0 22.4688200282vmin currentColor;
}
.background span:nth-child(45) {
  color: var(--primary-color);
  top: 24%;
  left: 25%;
  animation-duration: 115.5s;
  animation-delay: -107.8s;
  transform-origin: 11vw 22vh;
  box-shadow: 60vmin 0 17.8733126726vmin currentColor;
}
.background span:nth-child(46) {
  color: var(--secondary-color);
  top: 70%;
  left: 65%;
  animation-duration: 95.7s;
  animation-delay: -50.6s;
  transform-origin: -8vw -24vh;
  box-shadow: 60vmin 0 8.4209907773vmin currentColor;
}
.background span:nth-child(47) {
  color: var(--accent-color);
  top: 55%;
  left: 92%;
  animation-duration: 66.1s;
  animation-delay: -122.5s;
  transform-origin: -6vw -5vh;
  box-shadow: -60vmin 0 13.0640233486vmin currentColor;
}
.background span:nth-child(48) {
  color: var(--secondary-color);
  top: 56%;
  left: 67%;
  animation-duration: 26.3s;
  animation-delay: -117.5s;
  transform-origin: 16vw 23vh;
  box-shadow: 60vmin 0 19.4927608053vmin currentColor;
}
.background span:nth-child(49) {
  color: var(--secondary-color);
  top: 100%;
  left: 65%;
  animation-duration: 118.2s;
  animation-delay: -50.3s;
  transform-origin: 19vw 20vh;
  box-shadow: -60vmin 0 16.6166293206vmin currentColor;
}
.background span:nth-child(50) {
  color: var(--primary-color);
  top: 50%;
  left: 32%;
  animation-duration: 61.3s;
  animation-delay: -7s;
  transform-origin: 21vw -4vh;
  box-shadow: -60vmin 0 7.7466604783vmin currentColor;
}
.background span:nth-child(51) {
  color: var(--primary-color);
  top: 27%;
  left: 68%;
  animation-duration: 33.3s;
  animation-delay: -12.3s;
  transform-origin: -24vw 15vh;
  box-shadow: -60vmin 0 17.2278489288vmin currentColor;
}
.background span:nth-child(52) {
  color: var(--primary-color);
  top: 12%;
  left: 4%;
  animation-duration: 15.7s;
  animation-delay: -93.3s;
  transform-origin: 7vw -16vh;
  box-shadow: -60vmin 0 9.1933779288vmin currentColor;
}
.background span:nth-child(53) {
  color: var(--primary-color);
  top: 41%;
  left: 49%;
  animation-duration: 22.2s;
  animation-delay: -89.8s;
  transform-origin: 22vw 5vh;
  box-shadow: -60vmin 0 22.2649965576vmin currentColor;
}
.background span:nth-child(54) {
  color: var(--secondary-color);
  top: 40%;
  left: 36%;
  animation-duration: 110.1s;
  animation-delay: -44.1s;
  transform-origin: 11vw -24vh;
  box-shadow: -60vmin 0 9.8319225514vmin currentColor;
}
.background span:nth-child(55) {
  color: var(--secondary-color);
  top: 84%;
  left: 84%;
  animation-duration: 85.9s;
  animation-delay: -97.2s;
  transform-origin: 11vw 24vh;
  box-shadow: 60vmin 0 12.6624353503vmin currentColor;
}
.background span:nth-child(56) {
  color: var(--accent-color);
  top: 38%;
  left: 20%;
  animation-duration: 72.2s;
  animation-delay: -54s;
  transform-origin: 25vw -11vh;
  box-shadow: -60vmin 0 12.7449343406vmin currentColor;
}
.background span:nth-child(57) {
  color: var(--primary-color);
  top: 35%;
  left: 56%;
  animation-duration: 129.4s;
  animation-delay: -63.1s;
  transform-origin: -7vw 8vh;
  box-shadow: -60vmin 0 8.0997740686vmin currentColor;
}
.background span:nth-child(58) {
  color: var(--secondary-color);
  top: 93%;
  left: 29%;
  animation-duration: 27.6s;
  animation-delay: -88.1s;
  transform-origin: 2vw -21vh;
  box-shadow: 60vmin 0 15.237626049vmin currentColor;
}
.background span:nth-child(59) {
  color: var(--primary-color);
  top: 40%;
  left: 61%;
  animation-duration: 45.3s;
  animation-delay: -116.1s;
  transform-origin: 19vw 23vh;
  box-shadow: 60vmin 0 13.3492423981vmin currentColor;
}
.background span:nth-child(60) {
  color: var(--primary-color);
  top: 7%;
  left: 62%;
  animation-duration: 24.5s;
  animation-delay: -129.2s;
  transform-origin: -14vw -15vh;
  box-shadow: 60vmin 0 8.1336720114vmin currentColor;
}
.background span:nth-child(61) {
  color: var(--primary-color);
  top: 74%;
  left: 11%;
  animation-duration: 105.1s;
  animation-delay: -66.6s;
  transform-origin: -18vw 6vh;
  box-shadow: 60vmin 0 11.0532304715vmin currentColor;
}
.background span:nth-child(62) {
  color: var(--primary-color);
  top: 29%;
  left: 15%;
  animation-duration: 86.2s;
  animation-delay: -108.8s;
  transform-origin: 15vw 6vh;
  box-shadow: 60vmin 0 11.2513877368vmin currentColor;
}
.background span:nth-child(63) {
  color: var(--primary-color);
  top: 99%;
  left: 51%;
  animation-duration: 38.3s;
  animation-delay: -19s;
  transform-origin: 19vw -10vh;
  box-shadow: 60vmin 0 18.802436022vmin currentColor;
}
.background span:nth-child(64) {
  color: var(--secondary-color);
  top: 82%;
  left: 29%;
  animation-duration: 120.3s;
  animation-delay: -55.1s;
  transform-origin: -7vw 19vh;
  box-shadow: -60vmin 0 19.0408172558vmin currentColor;
}
.background span:nth-child(65) {
  color: var(--primary-color);
  top: 32%;
  left: 29%;
  animation-duration: 68.6s;
  animation-delay: -66s;
  transform-origin: -6vw 19vh;
  box-shadow: 60vmin 0 17.4076744814vmin currentColor;
}
.background span:nth-child(66) {
  color: var(--secondary-color);
  top: 5%;
  left: 92%;
  animation-duration: 105.3s;
  animation-delay: -93.7s;
  transform-origin: -19vw -12vh;
  box-shadow: 60vmin 0 19.9467336296vmin currentColor;
}
.background span:nth-child(67) {
  color: var(--secondary-color);
  top: 58%;
  left: 68%;
  animation-duration: 49s;
  animation-delay: -34.7s;
  transform-origin: 3vw -13vh;
  box-shadow: 60vmin 0 21.1615032652vmin currentColor;
}
.background span:nth-child(68) {
  color: var(--accent-color);
  top: 96%;
  left: 8%;
  animation-duration: 77.9s;
  animation-delay: -91.5s;
  transform-origin: 0vw -13vh;
  box-shadow: -60vmin 0 9.9661703737vmin currentColor;
}
.background span:nth-child(69) {
  color: var(--secondary-color);
  top: 76%;
  left: 86%;
  animation-duration: 116.4s;
  animation-delay: -55.5s;
  transform-origin: 11vw 10vh;
  box-shadow: 60vmin 0 17.9717279243vmin currentColor;
}
.background span:nth-child(70) {
  color: var(--primary-color);
  top: 98%;
  left: 71%;
  animation-duration: 46.7s;
  animation-delay: -62s;
  transform-origin: 3vw -14vh;
  box-shadow: 60vmin 0 21.6113328523vmin currentColor;
}
.background span:nth-child(71) {
  color: var(--secondary-color);
  top: 9%;
  left: 18%;
  animation-duration: 28.2s;
  animation-delay: -47.9s;
  transform-origin: 8vw 2vh;
  box-shadow: 60vmin 0 14.2959261495vmin currentColor;
}
.background span:nth-child(72) {
  color: var(--primary-color);
  top: 94%;
  left: 66%;
  animation-duration: 82.6s;
  animation-delay: -31.9s;
  transform-origin: -4vw 7vh;
  box-shadow: -60vmin 0 13.0432312276vmin currentColor;
}
.background span:nth-child(73) {
  color: var(--primary-color);
  top: 83%;
  left: 84%;
  animation-duration: 83.5s;
  animation-delay: -1.2s;
  transform-origin: -7vw -7vh;
  box-shadow: -60vmin 0 15.0856689653vmin currentColor;
}
.background span:nth-child(74) {
  color: var(--secondary-color);
  top: 65%;
  left: 56%;
  animation-duration: 15.3s;
  animation-delay: -91.1s;
  transform-origin: -4vw -14vh;
  box-shadow: -60vmin 0 15.6093653979vmin currentColor;
}
.background span:nth-child(75) {
  color: var(--secondary-color);
  top: 70%;
  left: 28%;
  animation-duration: 35s;
  animation-delay: -125.1s;
  transform-origin: 0vw -1vh;
  box-shadow: -60vmin 0 20.9308288894vmin currentColor;
}
.background span:nth-child(76) {
  color: var(--primary-color);
  top: 64%;
  left: 67%;
  animation-duration: 11.1s;
  animation-delay: -85.6s;
  transform-origin: -12vw 13vh;
  box-shadow: -60vmin 0 20.0774526775vmin currentColor;
}
.background span:nth-child(77) {
  color: var(--accent-color);
  top: 8%;
  left: 79%;
  animation-duration: 26s;
  animation-delay: -83.6s;
  transform-origin: 4vw 14vh;
  box-shadow: -60vmin 0 21.5013702049vmin currentColor;
}
.background span:nth-child(78) {
  color: var(--secondary-color);
  top: 53%;
  left: 69%;
  animation-duration: 123.3s;
  animation-delay: -36.3s;
  transform-origin: -5vw 7vh;
  box-shadow: -60vmin 0 18.933197067vmin currentColor;
}
.background span:nth-child(79) {
  color: var(--secondary-color);
  top: 24%;
  left: 60%;
  animation-duration: 29.5s;
  animation-delay: -111.9s;
  transform-origin: -10vw 12vh;
  box-shadow: -60vmin 0 10.2110371249vmin currentColor;
}
.background span:nth-child(80) {
  color: var(--accent-color);
  top: 92%;
  left: 75%;
  animation-duration: 92.5s;
  animation-delay: -69.7s;
  transform-origin: -3vw -9vh;
  box-shadow: -60vmin 0 16.9061985914vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
#overlay {
  width: 20%;
  height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
}

#logo-container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30%;
  margin: auto;
}
#logo-container::before {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0 0 100px 150px var(--bg-color);
  border-radius: 40px;
}
#logo-container::after {
  content: "";
  position: absolute;
  inset: 0;
  mask-image: url("./mask.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  background-color: var(--bg-color);
  border-radius: 32px;
}

/*# sourceMappingURL=index.css.map */
